<li>
	{{name}}

	<button class="change-consumtion" data-id="{{id}}" data-newsleep="{{consumed}}">
		{{#if consumed}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
